---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Jaewon Cho. All rights reserved.
	<div class="social-links">
		<a href="https://www.instagram.com/0_2un/" target="_blank">
			<span class="sr-only">Follow Astro on Mastodon</span>
			<img src="/icons/instagram.svg" alt="GitHub" width="32" height="32" />
		</a>
		<a href="https://www.linkedin.com/in/o2un/" target="_blank">
			<span class="sr-only">Follow LinkedIn</span>
			<img src="/icons/linkedin.svg" alt="linkedin" width="32" height="32" />
		</a>
		<a href="https://github.com/O2un" target="_blank">
			<span class="sr-only">Go to My GitHub repo</span>
			<img src="/icons/github.svg" alt="GitHub" width="32" height="32" />
		</a>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
